@font-face {
	font-family: 'ProximaNova';
	src: url(../source/fonts/proximanova_regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
	color: #000;
	text-decoration: none;

	font-family: 'ProximaNova', sans-serif;
	font-weight: 700;
}

.container {
	max-width: 1335px;
	margin: 0 auto;
}

.header {
	background: #fff;
	padding: 10px 0;
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-row div {
	display: flex;
	align-items: center;
}
.header-burger {
	position: relative;
	height: 2px;
	width: 20px;
	background: #505050;
	border-radius: 10px;
	margin-right: 32px;
}
.header-burger::before {
	position: absolute;
	content: '';
	height: 2px;
	width: 20px;
	background: #505050;
	bottom: 5px;
	border-radius: 10px;
}

.header-burger::after {
	position: absolute;
	content: '';
	height: 2px;
	width: 20px;
	background: #505050;
	top: 4.5px;
	border-radius: 10px;
}

.header-logo {
	margin-right: 32px;
}
.name {
	font-size: 20px;
}
.header-number h1 {
	font-size: 14px;
	margin-right: 8px;
}

.header-number img {
	width: 24px;
}

.header-btn {
	padding: 14px 22px;
	border: 2px #262626 solid;
	border-radius: 8px;
	margin-left: 24px;
}
.header-btn p {
	font-size: 12px;
	margin-right: 18px;
}

.header-btn img {
	width: 18px;
}

section.first {
	height: calc(100vh - 70px);
    background: url('../source/img/backgrounds/SwiperCar.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding: 0 60px;
}

.swiper-slide div{
    color: #fff;
}

.swiper-wrapper{
    padding: 240px 0 167px 84px;
}

.swiper-button-prev{
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 14px;
    border: 2px #fff solid;
    border-radius: 8px;
}
.swiper-button-next{
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 14px;
    border: 2px #fff solid;
    border-radius: 8px;
}

.swiper-button-prev::after{
    width: 18px;
}